<include file="public/head" />
<link href="APP_NAME/Public/css/dataTables.bootstrap.css" rel="stylesheet" />
</head>

<body>

    	<div class="page-header" style="top:46px;">
            <div class="header-title">
                <h4><i class="fa fa-home"></i> 首页 <small><i class="fa fa-angle-right"></i> 库存告警列表</small></h4>
            </div>
        </div>
        <div class="page-body" style="margin-top:80px;">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                	<div class="widget" id="list_user">
                        <div class="widget-header bordered-bottom bordered-blue">
                            <span class="widget-caption">库存告警列表</span>
                        </div>
                        <div class="widget-body no-padding" style="display: block;">
                            <div role="grid" id="searchable_wrapper" class="dataTables_wrapper form-inline">
                                <div class="well">
                                    <form name="form1" method="post" action="">
                                    <label>标题：<input type="search" class="form-control input-sm" aria-controls="searchable"></label>
                                    <label>编号：<input type="search" class="form-control input-sm" aria-controls="searchable"></label>
                                    <label><button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button></label>
                                    </form>
                                </div>
                                <div class="dataTables_length" id="searchable_length">
                                    <label><select name="searchable_length" aria-controls="searchable" class="form-control input-sm"><option value="5">5</option><option value="15">15</option><option value="20">20</option><option value="-1">All</option></select>
                                    </label>
                                </div>
								<div class="table-scrollable">
	                                <table class="table table-bordered table-hover table-striped">
	                                    <thead class="flip-content bordered-blue">
	                                        <tr><th>商品名称</th><th>产品图片</th><th>类别</th><th>产品数量</th><th>添加时间</th><th>操作</th></tr>
	                                    </thead>
	                                    <tbody id="dataList"></tbody>
	                                </table>
                                </div>
                                <div class="row DTTTFooter">
                                    <div class="dataTables_paginate paging_bootstrap" id="page">
                                        <ul class="pagination">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                </div>
        	</div>
    	</div>


<script src="APP_NAME/Public/js/beyond.min.js"></script>
<!--弹出窗口JS-->
<script src="APP_NAME/Public/js/bootbox.js"></script>

<script>

$(document).ready(function(e) {
    
    getList();
    
    $("#btn_time").click(function(){
    	var orderid = $("#orderid").val();
    	var receivingtime = $("#receivingtime").val();
    	
    	$.ajax({
    		url:'{:U("Express/receivingOrder")}',
    		data:{'orderid':orderid,'receivingtime':receivingtime},
    		dataType:'json',
    		success:function(res){
    			console.info(res);
    			if(res.errcode == 0){
    				alert(res.errmsg);
    				location.href = '{:U("Express/index")}';
    			}else{
    				alert(res.errmsg); return false;
    			}
    		}
    	});
    });
});

//加载列表数据
function getList(url,data){
	data = {'type':'alarm'};
	url = url || '{:U("Product/getStockList")}'; 
	$.get(url,data,function(rs){
		console.info(rs);
		if( rs.count>0){
			var html = '';
			$.each(rs.list,function(k,v){
				html += '<tr>';
				html += '<td>'+v.title+'</td>';
				html += '<td><img src='+v.picurl+' style="height:50px;width:auto;" /></td>';
				html += '<td>'+v.category+'</td>';
				html += '<td>'+v.shop_count+'('+v.shop_unit+')</td>';
				html += '<td>'+v.createtime+'</td>';
				html += '<td>';
				html += '<a href="javascript:void(0)" data-id="'+v.id+'" class="edit"><i class="fa fa-edit text-primary"></i> 编辑</a>&nbsp;&nbsp;&nbsp;';
				html += '<a href="javascript:void(0)" data-id="'+v.id+'" class="del"><i class="fa fa-trash-o text-primary"></i> 删除</a></td>';
				html += '</td>';
				html += '</tr>';
			})
			$('#dataList').html(html);
			$('#page ul').html(rs.page);
		}else{
			$('#dataList').empty();
			$('#page ul').empty();
		}
	})
}
</script>
</body>
</html>
