{include file="public/head" /}
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        {include file="public/top" /}
        <div class="layui-body site-demo">
            <!--<iframe style="width:100%; min-height:700px; overflow:auto;" frameborder="0" src="{:Url('Index/right')}" name="main" id="main"></iframe>-->
            {include file="index/right" /}
        </div>
        <div class="layui-footer footer footer-demo" style="height:1px;"></div>
        <div class="site-tree-mobile layui-hide"><i class="layui-icon">&#xe602;</i></div>
        <div class="site-mobile-shade"></div>
    </div>
{include file="public/footer" /}
</body>
</html>