<include file="public/head" />
<style type="text/css">
.addr_list a{ margin:5px 4px;}
</style>
</head>
<body>
    	<div class="page-header" style="top:46px;">
            <div class="header-title">
                <h4><i class="fa fa-home"></i> 首页 <small><i class="fa fa-angle-right"></i> 用户管理 </small><small><i class="fa fa-angle-right"></i>  修改用户 </small></h4>
            </div>
        </div>
        <div class="page-body" style="margin-top:80px;">
            <div class="row">
                <div class="col-xs-12 col-md-12">
        			<div class="widget" id="add_user">
                		<div class="widget-header bordered-bottom bordered-blue">
                            <a href="{:U('User/user')}"><i class="widget-icon fa fa-mail-reply blue"></i></a>
                            <span class="widget-caption">修改用户</span>
                        </div>
                        <div class="widget-body">
                        	<div class="widget-main">
                        		<form role="form" id="form_data" class="form-horizontal">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs tabs-flat" id="myTab11">
                                        <li class="active"><a data-toggle="tab" href="#base">基本信息</a></li>
                                        <li><a data-toggle="tab" href="#other">其它信息</a></li>
                                    </ul>
                                    <div class="tab-content tabs-flat">
                                		<div id="base" class="tab-pane in active">
				                            <div class="row">
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">编号：</label>
			                                            <div class="col-sm-8">
			                                                <input type="text" class="form-control" id="username" name="username" placeholder="" value="{$user.username}">
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">所属门店：</label>
			                                            <div class="col-sm-8">
			                                                <div id="confirm_list" class="inputbox">
															<a href="javascript:void(0)" class="right input_btn" id="open_storelist"> <i class="fa fa-briefcase"></i> </a>
															<div class="wrap">
																<span class="store_list">
																	{$store_name}
																</span>
																<span class="text"><input class="letter" id="storeid" type="text" value="{$user.storeid}"></span>
															</div>
															</div>
			                                            </div>
			                                        </div>
			                                    </div>
		                                    </div>
		                                    <div class="row">
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">姓名：</label>
			                                            <div class="col-sm-8">
		                                                    <input type="text" class="form-control" id="real_name" name="real_name" value="{$user.real_name}">
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">所属部门：</label>
			                                            <div class="col-sm-8">
			                                                <select class="form-control" id="deptid" name="deptid">
			                                                	<volist name="dept" id="p">
			                                                		<option value="{$p.id}" <if condition="$user['dept_id'] eq $p['id']">selected</if> data="{$p.id}">{$p.name}</option>
			                                                	</volist>
			                                                </select>
			                                            </div>
			                                        </div>
			                                    </div>
		                                    </div>
		                                    <div class="row">
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">办公电话：</label>
			                                            <div class="col-sm-8">
			                                                <input type="text" class="form-control" id="office_tel" name="office_tel" placeholder="" value="{$user.office_tel}">
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">所属职位：</label>
			                                            <div class="col-sm-8">
			                                                <select class="form-control" id="positionid" name="positionid">
			                                                	<volist name="position" id="p"><option <if condition="$user['position_id'] eq $p['id']">selected</if> value="{$p.id}">{$p.name}</option></volist>
			                                                </select>
			                                            </div>
			                                        </div>
			                                    </div>
		                                    </div>
		                                    <div class="row">
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">移动电话：</label>
			                                            <div class="col-sm-8">
			                                                <input type="text" class="form-control" id="mobile_tel" name="mobile_tel" placeholder="" value="{$user.mobile_tel}">
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">性别：</label>
			                                            <div class="col-sm-8">
			                                                <div class="radio left">
					                                            <label><input name="sex" id="sex" value="1" type="radio" class="colored-blue" <if condition="$user.sex eq 1">checked</if> ><span class="text"> 男</span></label>
					                                        </div>
					                                        <div class="radio left">
					                                            <label><input name="sex" id="sex" type="radio" value="2" class="colored-danger" <if condition="$user.sex eq 2">checked</if>><span class="text"> 女</span></label>
					                                        </div>
			                                            </div>
			                                        </div>
			                                    </div>
		                                    </div>
		                                    <div class="row">
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">头像：</label>
			                                            <div class="col-sm-8">
			                                                <img <if condition="$user.head_pic eq ''">src="__IMG__nopic.jpg"<else />src="__UPLOAD__{$user.head_pic}"</if> class="noface display-inline-block vertical-align-bottom" style=" height:80px; width:auto;" />&nbsp;
			                                                <div style="position:relative;width:60px;height:35px;overflow:hidden;display:inline-block;">
															<input type="file" id="upfile" name="pic" style="opacity:0;filter:alpha(opacity=0);position:absolute; width: 200px;height:1000px;top:0;right:0;z-index:1;cursor:pointer;">&nbsp;
											<button type="button" class="btn btn-primary display-inline-block vertical-align-bottom" style="position:absolute;top:0;right:0;">上传</button>
		                                              
															<input type="hidden" name="imageurl" id="imageurl" value="{$user.head_pic}">
															</div>
															
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">状态：</label>
			                                            <div class="col-sm-8">
			                                                <div class="radio left">
					                                            <label><input name="is_del" id="is_del" value="0" type="radio" class="colored-blue" <if condition="$user.is_del eq 0">checked</if> ><span class="text"> 启用</span></label>
					                                        </div>
					                                        <div class="radio left">
					                                            <label><input name="is_del" type="radio" value="1" class="colored-danger" <if condition="$user.is_del eq 1">checked</if> ><span class="text"> 禁用</span></label>
					                                        </div>
			                                            </div>
			                                        </div>
			                                    </div>
		                                    </div>
                                		</div>
                                		<div id="other" class="tab-pane">
                                			<div class="row">
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">民族：</label>
			                                            <div class="col-sm-8">
			                                                <input type="text" class="form-control" id="nation" name="nation" placeholder="" value="{$user.nation}">
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">婚否：</label>
			                                            <div class="col-sm-8">
			                                                <div class="radio left">
					                                            <label><input name="is_marry" id="is_marry" value="0" type="radio" class="colored-blue" <if condition="$user.is_marray eq 0">checked</if> ><span class="text"> 未婚</span></label>
					                                        </div>
					                                        <div class="radio left">
					                                            <label><input name="is_marry" id="is_marry" type="radio" value="1" class="colored-danger" <if condition="$user.is_marray eq 1">checked</if> ><span class="text"> 已婚</span></label>
					                                        </div>
			                                            </div>
			                                        </div>
			                                    </div>
		                                    </div>
		                                    <div class="row">
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">籍贯：</label>
			                                            <div class="col-sm-8">
		                                                    <input type="text" class="form-control" id="native_place" name="native_place" value="{$user.native_place}">
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">政治面貌：</label>
			                                            <div class="col-sm-8">
		                                                    <input type="text" class="form-control" id="political_status" name="political_status" value="{$user.political_status}">
			                                            </div>
			                                        </div>
			                                    </div>
		                                    </div>
		                                    <div class="row">
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">毕业学校：</label>
			                                            <div class="col-sm-8">
			                                                <input type="text" class="form-control" id="graduate_school" name="graduate_school" placeholder="" value="{$user.graduate_school}">
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">学历：</label>
			                                            <div class="col-sm-8">
			                                                <input type="text" class="form-control" id="education" name="education" placeholder="" value="{$user.education}">
			                                            </div>
			                                        </div>
			                                    </div>
		                                    </div>
		                                    <div class="row">
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">所学专业：</label>
			                                            <div class="col-sm-8">
			                                                <input type="text" class="form-control" id="major" name="major" placeholder="" value="{$user.major}">
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">职称：</label>
			                                            <div class="col-sm-8">
			                                                <input type="text" class="form-control" id="professional_ranks" name="professional_ranks" placeholder="" value="{$user.professional_ranks}">
			                                            </div>
			                                        </div>
			                                    </div>
		                                    </div>
		                                    <div class="row">
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">毕业时间：</label>
			                                            <div class="col-sm-8">
			                                                <div class="input-group">
				                                                <input class="form-control date-picker" name="graduate_time" id="graduate_time" type="text" data-date-format="yyyy-mm-dd" value="{$user.graduate_time}">
				                                                <span class="input-group-addon">
				                                                    <i class="fa fa-calendar"></i>
				                                                </span>
				                                            </div>
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">身份证号码：</label>
			                                            <div class="col-sm-8">
			                                                <input type="text" class="form-control" id="icard" name="icard" placeholder="" value="{$user.icard}">
			                                            </div>
			                                        </div>
			                                    </div>
		                                    </div>
		                                    <div class="row">
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">入职时间：</label>
			                                            <div class="col-sm-8">
			                                                <div class="input-group">
				                                                <input class="form-control date-picker" name="entry_time" id="entry_time" type="text" data-date-format="yyyy-mm-dd" value="{$user.entry_time}">
				                                                <span class="input-group-addon">
				                                                    <i class="fa fa-calendar"></i>
				                                                </span>
				                                            </div>
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">转正时间：</label>
			                                            <div class="col-sm-8">
			                                                <div class="input-group">
				                                                <input class="form-control date-picker" name="positive_time" id="positive_time" type="text" data-date-format="yyyy-mm-dd" value="{$user.positive_time}">
				                                                <span class="input-group-addon">
				                                                    <i class="fa fa-calendar"></i>
				                                                </span>
				                                            </div>
			                                            </div>
			                                        </div>
			                                    </div>
		                                    </div>
		                                    <div class="row">
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">合同签订时间：</label>
			                                            <div class="col-sm-8">
			                                                <div class="input-group">
				                                                <input class="form-control date-picker" name="sign_time" id="sign_time" type="text" data-date-format="yyyy-mm-dd" value="{$user.sign_time}">
				                                                <span class="input-group-addon">
				                                                    <i class="fa fa-calendar"></i>
				                                                </span>
				                                            </div>
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">社保缴纳时间：</label>
			                                            <div class="col-sm-8">
			                                                <div class="input-group">
				                                                <input class="form-control date-picker" name="hrss_time" id="hrss_time" type="text" data-date-format="yyyy-mm-dd" value="{$user.hrss_time}">
				                                                <span class="input-group-addon">
				                                                    <i class="fa fa-calendar"></i>
				                                                </span>
				                                            </div>
			                                            </div>
			                                        </div>
			                                    </div>
		                                    </div>
		                                    <div class="row">
			                                    <div class="col-lg-6 col-sm-6 col-xs-6">
			                                    	<div class="form-group">
			                                            <label class="col-sm-3 control-label no-padding-right">备注：</label>
			                                            <div class="col-sm-8">
			                                                <textarea class="form-control" id="info" name="info" rows="5">{$user.info}</textarea>
			                                            </div>
			                                        </div>
			                                    </div>
		                                    </div>
		                                </div>
                                    	<div class="row">
		                                    <div class="form-group">
			                                    <label class="col-sm-2 control-label no-padding-right"></label>
			                                    <div class="col-sm-9">
			                                        <button type="button" name="submit" id="submit" class="btn btn-primary mr10">确定</button><a type="button" name="button" class="btn btn-danger" href="{:U("User/user")}">取消</a><input type="hidden" name="userid" id="userid" value="{$user.id}">
			                                    </div>
			                                </div>
			                            </div>
                                    </div>
                                </div>
                                </form>
                        	</div>
                        </div>
                	</div>
            	    
                </div>
        	</div>
    	</div>

<div class="modal fade" id="modal-store" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; margin-top:60px;">
	<div class="modal-dialog">
    	<div class="modal-content">
        	<div class="modal-header">
            	<button type="button" class="btn btn-default pull-right" data-dismiss="modal" aria-hidden="true" style="margin-left:10px;">关 闭</button>
                <h4 class="modal-title" id="myModalLabel">操作选择</h4> 
            </div>
            <div class="modal-body menu-list">
            	<div class="scroll" style="height: 420px; ">
                	<div class="row">
                		<div class="col-md-12">
                			<div><b style="padding-left:10px;">所属门店</b></div>
							<div class="addr_list" style="height:390px;">
								<a class="btn btn-primary btn-xs left" data="0" title="总店"><span class="text">总店</span></a>
								<foreach name="store" item="s">
                                <a class="btn btn-primary btn-xs left" data="{$s.id}" title="{$s.store_title}"><span class="text">{$s.store_title}</span></a>
                                </foreach>
							</div>
						</div>
                	</div>
                </div>
            </div>
		</div>
	</div>
</div>

<script src="APP_NAME/Public/js/beyond.min.js"></script>
<script src="APP_NAME/Public/js/bootstrap-datepicker.js"></script>
<!--弹出窗口JS-->
<script src="APP_NAME/Public/js/bootbox.js"></script>
<script src="APP_NAME/Public/js/ajaxfileupload.js"></script>
<script>
$('.date-picker').datepicker();

$('#open_storelist').click(function(){
    $('#modal-store').modal("show");
});

$("#submit").click(function(){
	var username = $("#username").val();
	var real_name = $("#real_name").val();
	var sex = $('input:radio[name=sex]:checked').val();
	//var birthday = $("#birthday").val();
	var position_id = $("#positionid").val();
	var office_tel = $("#office_tel").val();
	var mobile_tel = $("#mobile_tel").val();
	var store_id = $("#storeid").val();
	var is_del = $('input:radio[name=is_del]:checked').val();
	var head_pic = $("#imageurl").val();
	var pwd = $("#pwd").val();
	
	var dept_id = $("#deptid").val();
	var nation = $("#nation").val();
	var is_marry = $("#is_marry").val();
	var native_place = $("#native_place").val();
	var political_status = $("#political_status").val();
	var icard = $("#icard").val();
	var education = $("#education").val();
	var graduate_school = $("#graduate_school").val();
	var major = $("#major").val();
	var professional_ranks = $("#professional_ranks").val();
	var entry_time = $("#entry_time").val();
	var positive_time = $("#positive_time").val();
	var graduate_time = $("#graduate_time").val();
	var sign_time = $("#sign_time").val();
	var hrss_time = $("#hrss_time").val();
	var info = $("#info").val();

    var userid = $("#userid").val();

	if(username == ""){
		alert("请输入编号，用于作为登录名"); return false;
	}
	if(pwd == ""){
		alert("请输入用户登录密码"); return false;
	}
	
	console.info(dept_id);
	
	$.ajax({
		url:'{:U("User/operateUser")}',
		data:{'username':username,'real_name':real_name,'sex':sex,'position_id':position_id,'office_tel':office_tel,'mobile_tel':mobile_tel,'store_id':store_id,'is_del':is_del,'head_pic':head_pic,'pwd':pwd,'userid':userid,'dept_id':dept_id,'nation':nation,'is_marry':is_marry,'native_place':native_place,'political_status':political_status,'icard':icard,'education':education,'graduate_school':graduate_school,'major':major,'professional_ranks':professional_ranks,'entry_time':entry_time,'positive_time':positive_time,'sign_time':sign_time,'hrss_time':hrss_time,'info':info},
		type:'post',
		dataType:'json',
		success:function(res){
			console.info(res);
            if(res.errcode == 0){
                location.href = '{:U("User/user")}';
            }else{
                alert(res.errmsg); return false;
            }
		}
	});
});

//上传图片
$(document).on('change','#upfile',function(){
	
	$.ajaxFileUpload({
		url:'{:U("Plugin/uploadpic")}',
		secureuri:false,
		fileElementId:'upfile',
		data:{'width':80,'height':80},
		dataType:'text',
		type:'post',
		success:function(data,status){
			console.info(data+status);
			if(data==1){
       			 alert('请上传的图片不能大于2M');
     		}
			var ob = eval('('+data+')');

			$('#upfile').parent().prev('img').attr('src','{$appname}'+ob.thumb);
			$('#imageurl').val(ob.pic);
			
		},
		error:function(data,status,e){
			//console.info(data);
			//console.info(status);
			//console.info(e);
		}
	})	
})

$(".addr_list a").click(function(){
	var id = $(this).attr("data");
	var title = $(this).attr("title");
	//alert(id);
	$(".store_list").html(title);
	$("#storeid").val(id);
	$("#storeid").hide();
	$('#modal-store').modal("hide");
});

$('#dataList').on('click','.edit',function(){
	var id = $(this).attr("data-id");
	
	$.ajax({
		url:'{:U("User/getUserInfo")}',
		data:{"id":id},
		dataType:'json',
		success:function(res){
			console.info(res);
			$("#username").val(res.username);
			$('#username').attr('disabled',"true");
			
			$("#real_name").val(res.real_name);
			$('input:radio[name=sex][value='+res.sex+']').attr("checked",true);
			//$("#birthday").val(res.birthday);
			$("#positionid").val(res.position_id);
			$("#office_tel").val(res.office_tel);
			$("#mobile_tel").val(res.mobile_tel);
			$("#storeid").val(res.store_id);
			$(".store_list").html(res.store_name);
			$("#storeid").hide();
			$('input:radio[name=is_del][value='+res.is_del+']').attr("checked",true);
			
			$('#upfile').parent().prev('img').attr('src','{$appname}'+res.head_pic);
			$('#imageurl').val(res.head_pic);
			
			$("#deptid").val(res.dept_id);
			$("#nation").val(res.nation);
			$('input:radio[name=is_marry][value='+res.is_marry+']').attr("checked",true);
			$("#native_place").val(res.native_place);
			$("#political_status").val(res.political_status);
			$("#icard").val(res.icard);
			$("#education").val(res.education);
			$("#graduate_school").val(res.graduate_school);
			$("#major").val(res.major);
			$("#professional_ranks").val(res.professional_ranks);
			$("#entry_time").val(res.entry_time);
			$("#positive_time").val(res.positive_time);
			$("#graduate_time").val(res.graduate_time);
			$("#sign_time").val(res.sign_time);
			$("#hrss_time").val(res.hrss_time);
			$("#info").val(res.info);

			$("#pwd").val(res.pwd);
		}
	});
	
	$("#userid").val(id);
	$('#list_user').hide();
    $('#add_user').slideDown('slow');
})

</script>
</body>
</html>
